.main {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: 1.6rem 0;
	background-color: var(--mainFont);
	border-radius: 1rem 1rem 0 0;
	z-index: 5;
}

.main_menu {
	display: flex;
	justify-content: space-between;
}

.main_menu a {
	display: block;
	color: var(--secFont);
	text-decoration: none;
	width: 2.4rem;
	height: 2.4rem;
}

.main_menu a svg {
	width: 100%;
	height: 100%;
}

.current {
	color: white !important;
}
