.main {
	position: fixed;
	width: 100%;
	height: 6rem;
	z-index: 10;
	background-color: white;
}

.main-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100%;
}

.main_search {
	width: 3.2rem;
	height: 3.2rem;
}

.main_search svg {
	width: 100%;
	height: 100%;
}

.main_icon a {
	font-family: 'Libre Bodoni', serif;
	font-size: 2rem;
	color: var(--mainFont);
	text-decoration: none;
}

.main_menu-button {
	width: 3.2rem;
	height: 3.2rem;
}

.main_menu-button svg {
	width: 100%;
	height: 100%;
}

.main_nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: #0008;
	z-index: 10;
}

.main_nav ul {
	position: absolute;
	right: 0;
	width: 60%;
	height: 100%;
	padding: 5%;
	padding-top: 6rem;
	list-style: none;
	background-color: white;
}

.nav_close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3.2rem;
	height: 3.2rem;
}

.nav_close svg {
	width: 100%;
	height: 100%;
}

.main_nav a {
	display: block;
	margin-bottom: 1.6rem;
	font-size: 2.4rem;
	color: var(--mainFont);
	text-decoration: none;
}
