:root {
	--mainFont: #0f0f0f;
	--secFont: #515151;
	--thrFont: #e1e1e1;

	--mainShadow: #717171;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	}
} */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	color: var(--mainFont);
}

h1,
h2 {
	font-family: 'Libre Bodoni', serif;
}

.content-limit {
	width: 90%;
	max-width: 128rem;
	height: auto;
	margin: 0 auto;
}

@media (min-width: 480px) {
	body {
		font-size: 1.6rem;
	}
}
/* @media (prefers-color-scheme: dark) { html { color-scheme: dark; } } */ ;
